[Desktop Entry]
Name=TMPL_APP_NAME
Comment=TMPL_APP_NAME description
Exec=appname
Terminal=false
Type=Application
Icon=TMPL_APP_ID
StartupWMClass=TMPL_APP_NAME
Categories=Game;
